body{
    background-color:rgb(96, 115, 178);
    
 
}
.container{
    background-color: aliceblue;
    height: 320px;
    width: 25%;
    margin: 10% auto;
    padding: 15px;
  
}
.login{
    text-align: center;
    color:steelblue;
}
.form{
     padding: 30px;}


     .input1{
     margin-left: 30px;
     }
     .input2{
          margin-left: 13px;
     }
     .first{
          margin-bottom: 20px;
     }
    
     /* .first1 button{
            margin-left: 33px;
            
     } */
     .first1{
          display: flex;
          justify-content: ;
     }
     .but{
          margin-left: 50px;
     }
     .but button{
          margin-right: 21px;
          width: 25px;
     }
     .input3{
          margin-left: 78px;
     }
 input {
     padding: 5px;
 }