body {
    margin: 0;

}

#headsection {
    width: 100%;


}

#headsection .leftflex {
    display: flex;
    margin-left: 80px;

}

#headsection h2 {
    color: blue;
}

#headsection img {
    height: 90px;

}

.navsidebar {
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
}

#headsection .navbar {
    display: flex;
    gap: 600px;


}

.navsidebar .navlist {
    font-size: 25px;
}

.navsidebar .navlist1 {
    font-size: 25px;
    color: blue;
}

/* first container */
#firstcontainer {
    background-image: linear-gradient(to left top, #3a7ada, #9279cf, #c07cbe, #d986ad, #e596a1);
    height: 60vh;
    font-size: 2rem;
    padding-top: 100px;
    color: white;
    text-align: center;
}

/* second container */

#container2 .flex {
    display: flex;
    justify-content: center;

}

.flex img {
    height: 100px;
}

.flex .color {
    color: blue;
}

#paragraph {
    text-align: center;
    line-height: 30px;
    padding: 0 20rem;
}

#logo img {
    height: 120px;
}

#logo .row {
    display: flex;
    justify-content: space-evenly;
}

.row .image {
    text-align: center;

}

#logo {
    padding: 50px;
}

/* third container */
#column .head {
    display: flex;
}

.column {
    background-color: #3a7ada;

}

#cols .head img {
    height: 80px;
}

#cols {
    display: flex;

}